* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html { height: 100% }

#content {
  background: #E0E0E0;
  font-family: 'Helvetica Neue', Arial, Sans-Serif;
  background-color: #BBBBBB;
  height: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#EBEBEB));
  background-image: -webkit-linear-gradient(top, #999999, #EBEBEB);
  background-image: -moz-linear-gradient(top, #999999, #EBEBEB);
  background-image: -ms-linear-gradient(top, #999999, #EBEBEB);
  background-image: -o-linear-gradient(top, #999999, #EBEBEB); }

.login-wrap {
  position: relative;
  top: 60px;
  margin: 0 auto;
  background: #ecf0f1;
  width: 350px;
  border-radius: 20px;
  box-shadow: 3px 3px 10px #333;
  padding: 15px; }

.login-wrap h2 {
  text-align: center;
  font-weight: 200;
  font-size: 2em;
  margin-top: 10px;
  color: #34495e; }

.login-wrap .form {
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 90%; }

#inputs input {
  background: #F5F7F8 url(images/login-usr-pw.png) no-repeat;
  padding-left: 30px; }

fieldset {
  border: 0;
  padding: 0;
  margin: 0; }

.login-wrap .form input[type="text"],
.login-wrap .form input[type="password"],

.login-wrap .form button {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 25px;
  height: 40px;
  border-radius: 5px;
  outline: 0;
  -moz-outline-style: none; }

.login-wrap .form input[type="text"],

.login-wrap .form input[type="password"] {
  border: 1px solid #bbb;
  padding: 0 0 0 10px;
  font-size: 14px; }

.login-wrap .form input[type="text"]:focus,

.login-wrap .form input[type="password"]:focus {
  border: 1px solid #EAD33D; }

.login-wrap .form a {
  text-align: center;
  font-size: 10px;
  color: #3498db; }

.login-wrap .form a p {
  padding-bottom: 10px; }

.login-wrap .form button {
  background: #1589FF;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 200;
  cursor: pointer;
  transition: box-shadow .4s ease; }

.login-wrap .form button:hover { box-shadow: 1px 1px 5px #555; }

.login-wrap .form button:active { box-shadow: 1px 1px 7px #222; }

.title { text-align: center;
         color: #AADDFF; }

.subtitle { text-align: center;
            color: #fff; }

h2 { border-radius: 5px 5px 0 0;
     color: #fff;
     font-size: 14px;
     padding: 8px;
     text-align: center; }

#myusername { background-position: 5px -2px !important; }
#mypassword { background-position: 5px -52px !important; }

.message {
color: #3399FF;
font-weight: bold;
text-align: center;
width: 100%; }

.topbar {
  font-family: 'Helvetica Neue', Sans-Serif, Arial;
  text-align: center;
  color: #ffffff;  
  height: 6%
  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0.17, #1C71AD), color-stop(0.52, #0669BF), color-stop(1, #0E86F5), color-stop(1, #003461), color-stop(1, #0F72BD) );
  background-image: -webkit-linear-gradient(left top, #1C71AD 17%, #0669BF 52%, #0E86F5 100%, #003461 100%, #0F72BD 100%);
  background-image: -moz-linear-gradient(left top, #1C71AD 17%, #0669BF 52%, #0E86F5 100%, #003461 100%, #0F72BD 100%);
  background-image: -o-linear-gradient(left top, #1C71AD 17%, #0669BF 52%, #0E86F5 100%, #003461 100%, #0F72BD 100%);
  background-image: -ms-linear-gradient(left top, #1C71AD 17%, #0669BF 52%, #0E86F5 100%, #003461 100%, #0F72BD 100%);
  background-image: linear-gradient(to left top, #1C71AD 17%, #0669BF 52%, #0E86F5 100%, #003461 100%, #0F72BD 100%); }

.main { background: #ecf0f1;
	padding: 10px 0 50px 50px }

